<ion-header>
  <ion-toolbar>
    <ion-title slot="start">{{"common.login" | translate}}</ion-title>
    <ion-item lines="none" slot="end" (ionChange)="onChange($event)">
      <ion-select [placeholder]="'common.lang' | translate">
        <ion-select-option value="ES">ES</ion-select-option>
        <ion-select-option value="EN">EN</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">{{"common.email" |translate}}</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        >{{"common.password" |translate}}</ion-label
      >
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button
      class="btn"
      type="submit"
      expand="block"
      (keyup.enter)="onSubmit()"
      >{{"common.login" | translate}}</ion-button
    >

    <a class="link" routerLink="/register" href="#"
      >{{"common.not_registered" | translate}}</a
    >
  </form>
</ion-content>
