.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  .restart {
    font-size: 1.8rem;
  }
}

.footer__toolbar {
  div {
    padding: 0.5rem;
  }

  ::ng-deep {
    .toolbar-container {
      display: flex;
      justify-content: space-between;
    }
  }
}
