<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Mercado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-form></app-form>

  <ion-list *ngIf="items$ | async as items">
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <app-item [item]="item"></app-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(item.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Total: {{total}}</ion-title>
  </ion-toolbar>
</ion-footer>
